@font-face {
  font-family: 'Averia Sans Libre';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Averia Sans Libre Regular'), local('AveriaSansLibre-Regular'), url(https://fonts.gstatic.com/s/averiasanslibre/v8/ga6XaxZG_G5OvCf_rt7FH3B6BHLMEeVJ.ttf) format('truetype');
}
@font-face {
  font-family: 'Pontano Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Pontano Sans'), local('PontanoSans-Regular'), url(https://fonts.gstatic.com/s/pontanosans/v7/qFdD35GdgYR8EzR6oBLDHa3qwg.ttf) format('truetype');
}
@font-face {
  font-family: 'Special Elite';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Special Elite Regular'), local('SpecialElite-Regular'), url(https://fonts.gstatic.com/s/specialelite/v10/XLYgIZbkc4JPUL5CVArUVL0nhnc.ttf) format('truetype');
}
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  margin: 0px auto;
  background-color: #333b3a;
  color: #6b6e70;
  width: 100%;
}
a {
  text-decoration: none;
  color: #afb2b4;
}
footer {
  padding: 3rem 0rem 3rem 0rem;
  margin: 0rem;
  border-color: #474b4f;
  border-style: solid none none none;
  border-width: 1px;
  border-radius: 0px;
  background-color: #222629;
}
footer div p {
  font-family: "Special Elite", sans-serif;
  color: #6b6e70;
  text-align: center;
  font-size: 2rem;
}
#headerSpacing {
  padding: 25rem 0rem 0rem 0rem;
  margin: 0rem;
  border-color: none;
  border-style: none;
  border-width: 1px;
  border-radius: 0px;
}
@media (max-width: 800px) {
  #headerSpacing {
    padding-top: 25rem;
  }
}
@media (max-width: 500px) {
  #headerSpacing {
    padding-top: 2rem;
  }
}
.fixedHeader {
  width: 100%;
  position: fixed;
  top: 0px;
  background-color: #222629;
  padding: 3rem 0rem 3rem 0rem;
  margin: 0rem;
  border-color: #474b4f;
  border-style: none none solid none;
  border-width: 1px;
  border-radius: 0px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
@media (max-width: 800px) {
  .fixedHeader {
    padding-left: 2rem;
    padding-right: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
@media (max-width: 500px) {
  .fixedHeader {
    position: relative;
    padding-bottom: 0rem;
  }
}
.fixedHeader div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
@media (max-width: 800px) {
  .fixedHeader div {
    width: 80%;
  }
}
.fixedHeader div #primary {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}
.fixedHeader div #primary h1 {
  font-family: "Special Elite", sans-serif;
  color: #EEEEEE;
  font-size: 9rem;
  text-align: right;
}
@media (max-width: 1050px) {
  .fixedHeader div #primary h1 {
    font-size: 7.5rem;
  }
}
@media (max-width: 800px) {
  .fixedHeader div #primary h1 {
    font-size: 5rem;
  }
}
@media (max-width: 500px) {
  .fixedHeader div #primary h1 {
    font-size: 3.5rem;
  }
}
.fixedHeader div #primary h2 {
  font-family: "Special Elite", sans-serif;
  color: #afb2b4;
  font-size: 4rem;
  text-align: right;
}
@media (max-width: 1050px) {
  .fixedHeader div #primary h2 {
    font-size: 3rem;
  }
}
@media (max-width: 800px) {
  .fixedHeader div #primary h2 {
    font-size: 2.5rem;
  }
}
@media (max-width: 500px) {
  .fixedHeader div #primary h2 {
    font-size: 2rem;
  }
}
.fixedHeader div #secondary {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-top: 2rem;
}
@media (max-width: 800px) {
  .fixedHeader div #secondary {
    padding-top: 1.5rem;
  }
}
@media (max-width: 500px) {
  .fixedHeader div #secondary {
    padding-top: 1rem;
  }
}
.fixedHeader div #secondary h1 {
  font-family: "Special Elite", sans-serif;
  color: #86c232;
  font-size: 9rem;
  text-align: left;
  font-style: italic;
}
@media (max-width: 1050px) {
  .fixedHeader div #secondary h1 {
    font-size: 7.5rem;
  }
}
@media (max-width: 800px) {
  .fixedHeader div #secondary h1 {
    font-size: 5rem;
  }
}
@media (max-width: 500px) {
  .fixedHeader div #secondary h1 {
    font-size: 3.5rem;
  }
}
.fixedHeader div #secondary h2 {
  font-family: "Special Elite", sans-serif;
  color: #61892f;
  font-size: 4rem;
  text-align: left;
  font-style: italic;
}
@media (max-width: 1050px) {
  .fixedHeader div #secondary h2 {
    font-size: 3rem;
  }
}
@media (max-width: 800px) {
  .fixedHeader div #secondary h2 {
    font-size: 2.5rem;
  }
}
@media (max-width: 500px) {
  .fixedHeader div #secondary h2 {
    font-size: 2rem;
  }
}
.fixedHeader div nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  padding: 0rem;
  margin: 0rem 0rem 0rem 5rem;
  border-color: none;
  border-style: none;
  border-width: 1px;
  border-radius: 0px;
  font-family: "Averia Sans Libre", sans-serif;
  color: #afb2b4;
  font-size: 2rem;
}
.fixedHeader div nav a {
  animation-name: hlcaOff;
  animation-duration: 0.1s;
  color: #afb2b4;
}
@keyframes hlcaOff {
  from {
    color: #f3f6f8;
  }
  to {
    color: #afb2b4;
  }
}
.fixedHeader div nav a:hover {
  animation-name: hlcaOn;
  animation-duration: 0.5s;
  color: #f3f6f8;
}
@keyframes hlcaOn {
  from {
    color: #afb2b4;
  }
  to {
    color: #f3f6f8;
  }
}
@media (max-width: 800px) {
  .fixedHeader div nav {
    width: 100%;
    margin-left: 0rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    font-size: 2.5rem;
  }
}
@media (max-width: 500px) {
  .fixedHeader div nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: none;
  }
}
.fixedHeader div nav a {
  padding: 0rem;
  margin: 0.5rem 0rem 0.5rem 0rem;
  border-color: none;
  border-style: none;
  border-width: 1px;
  border-radius: 0px;
}
@media (max-width: 800px) {
  .fixedHeader div nav a {
    padding: 2rem 0rem 2rem 0rem;
    margin: 0rem;
    border-color: none;
    border-style: none;
    border-width: 1px;
    border-radius: 0px;
    text-align: center;
    width: 30%;
  }
}
@media (max-width: 500px) {
  .fixedHeader div nav a {
    width: 100%;
  }
}
#callToAction div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5rem 0rem 5rem 0rem;
  margin: 5rem 0rem 15rem 0rem;
  border-color: none;
  border-style: none;
  border-width: 1px;
  border-radius: 0px;
}
@media (max-width: 800px) {
  #callToAction div {
    padding: 0rem;
  }
}
#callToAction div h2 {
  padding: 0rem;
  margin: 0rem 0rem 3rem 0rem;
  border-color: none;
  border-style: none;
  border-width: 1px;
  border-radius: 0px;
  font-family: "Special Elite", sans-serif;
  font-size: 10rem;
  color: #EEEEEE;
}
@media (max-width: 1050px) {
  #callToAction div h2 {
    font-size: 5rem;
  }
}
@media (max-width: 500px) {
  #callToAction div h2 {
    text-align: center;
    width: 80%;
  }
}
#callToAction div a {
  font-family: "Averia Sans Libre", sans-serif;
  font-size: 5rem;
  color: #222629;
  background-color: #EEEEEE;
  padding: 3rem;
  margin: 0rem;
  border-color: #6b6e70;
  border-style: solid;
  border-width: 0rem 2px 7.5px 2px;
  border-radius: 3rem;
}
@media (max-width: 500px) {
  #callToAction div a {
    text-align: center;
    width: 90%;
  }
}
.marketingCopyL2R {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
@media (max-width: 800px) {
  .marketingCopyL2R {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
.marketingCopyL2R .L2RTitle {
  padding: 15rem 10rem 15rem 10rem;
  margin: 0rem;
  border-color: #61892f;
  border-style: solid;
  border-width: 0px 2.5px 15px 0px;
  border-radius: 0px;
  border-top-right-radius: 2rem;
  border-bottom-right-radius: 100rem;
  width: 48%;
  background-color: #86c232;
}
@media (max-width: 1050px) {
  .marketingCopyL2R .L2RTitle {
    padding-right: 0rem;
    padding: 15rem 10rem 15rem 10rem;
    margin: 0rem;
    border-color: #61892f;
    border-style: solid;
    border-width: 0px 2.5px 5px 0px;
    border-radius: 0px;
    border-top-right-radius: 2rem;
    border-bottom-right-radius: 2rem;
  }
}
@media (max-width: 800px) {
  .marketingCopyL2R .L2RTitle {
    width: 100%;
    padding: 5rem 0rem 5rem 0rem;
    margin: 0rem;
    border-color: #61892f;
    border-style: solid;
    border-width: 0px 2.5px 15px 0px;
    border-radius: 0px;
    border-right-width: 0px;
  }
}
@media (max-width: 500px) {
  .marketingCopyL2R .L2RTitle {
    padding: 5rem 5rem 5rem 5rem;
    margin: 0rem;
    border-color: #61892f;
    border-style: solid;
    border-width: 0px 0px 15px 0px;
    border-radius: 0px;
  }
}
.marketingCopyL2R .L2RTitle h2 {
  font-family: "Averia Sans Libre", sans-serif;
  color: #222629;
  text-align: right;
  font-size: 6rem;
}
@media (max-width: 1050px) {
  .marketingCopyL2R .L2RTitle h2 {
    padding-right: 0rem;
    margin-right: 2rem;
  }
}
@media (max-width: 800px) {
  .marketingCopyL2R .L2RTitle h2 {
    text-align: center;
    font-size: 4rem;
  }
}
@media (max-width: 500px) {
  .marketingCopyL2R .L2RTitle h2 {
    padding-left: 2rem;
    width: 80%;
    text-align: right;
  }
}
.marketingCopyL2R .L2RText {
  padding: 15rem 10rem 15rem 10rem;
  margin: 0rem;
  border-color: none;
  border-style: none;
  border-width: 0px;
  border-radius: 0px;
  width: 52%;
}
@media (max-width: 800px) {
  .marketingCopyL2R .L2RText {
    width: 80%;
    padding: 3rem 0rem 3rem 0rem;
    margin: 0rem 10% 0rem 10%;
    border-color: none;
    border-style: none;
    border-width: 1px;
    border-radius: 0px;
  }
}
.marketingCopyL2R .L2RText p {
  font-family: "Pontano Sans", sans-serif;
  color: #EEEEEE;
  text-align: center;
  font-size: 2.5rem;
}
@media (max-width: 1050px) {
  .marketingCopyL2R .L2RText p {
    text-align: right;
  }
}
@media (max-width: 800px) {
  .marketingCopyL2R .L2RText p {
    text-align: left;
    padding-bottom: 4rem;
  }
}
.marketingCopyR2L {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
@media (max-width: 800px) {
  .marketingCopyR2L {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }
}
.marketingCopyR2L .R2LTitle {
  padding: 15rem 10rem 15rem 10rem;
  margin: 0rem;
  border-color: #61892f;
  border-style: solid;
  border-width: 0px 0px 15px 2.5px;
  border-radius: 0px;
  border-top-left-radius: 2rem;
  border-bottom-left-radius: 100rem;
  width: 48%;
  background-color: #86c232;
}
@media (max-width: 1050px) {
  .marketingCopyR2L .R2LTitle {
    padding: 15rem 10rem 15rem 10rem;
    margin: 0rem;
    border-color: #61892f;
    border-style: solid;
    border-width: 0px 0px 5px 2.5px;
    border-radius: 0px;
    border-top-left-radius: 2rem;
    border-bottom-left-radius: 2rem;
  }
}
@media (max-width: 800px) {
  .marketingCopyR2L .R2LTitle {
    width: 100%;
    padding: 5rem 5rem 5rem 5rem;
    margin: 0rem 10% 0rem 10%;
    border-color: #61892f;
    border-style: solid;
    border-width: 0px 0px 15px 0px;
    border-radius: 0px;
  }
}
.marketingCopyR2L .R2LTitle h2 {
  font-family: "Averia Sans Libre", sans-serif;
  color: #222629;
  text-align: left;
  font-size: 6rem;
  padding: 0rem;
  margin: 0rem 0rem 0rem 10rem;
  border-color: none;
  border-style: none;
  border-width: 1px;
  border-radius: 0px;
}
@media (max-width: 1050px) {
  .marketingCopyR2L .R2LTitle h2 {
    margin-left: 2rem;
  }
}
@media (max-width: 800px) {
  .marketingCopyR2L .R2LTitle h2 {
    text-align: center;
    font-size: 4rem;
    margin-left: 0rem;
  }
}
@media (max-width: 500px) {
  .marketingCopyR2L .R2LTitle h2 {
    padding-left: 2rem;
    width: 80%;
    text-align: right;
  }
}
.marketingCopyR2L .R2LText {
  padding: 15rem 10rem 15rem 10rem;
  margin: 0rem;
  border-color: none;
  border-style: none;
  border-width: 0px;
  border-radius: 0px;
  width: 52%;
}
@media (max-width: 800px) {
  .marketingCopyR2L .R2LText {
    width: 80%;
    padding: 3rem 0rem 3rem 0rem;
    margin: 0rem 10% 0rem 10%;
    border-color: none;
    border-style: none;
    border-width: 1px;
    border-radius: 0px;
  }
}
.marketingCopyR2L .R2LText p {
  font-family: "Pontano Sans", sans-serif;
  color: #EEEEEE;
  text-align: center;
  font-size: 2.5rem;
}
@media (max-width: 1050px) {
  .marketingCopyR2L .R2LText p {
    text-align: left;
  }
}
@media (max-width: 800px) {
  .marketingCopyR2L .R2LText p {
    text-align: left;
    padding-bottom: 4rem;
  }
}
.aboutItem {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0rem;
  margin: 0rem 0rem 5rem 0rem;
  border-color: none;
  border-style: none;
  border-width: 1px;
  border-radius: 0px;
}
@media (max-width: 800px) {
  .aboutItem {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
.aboutItem .aboutItemImage {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  padding: 0rem;
  margin: 0rem;
  border-color: none;
  border-style: none;
  border-width: 1px;
  border-radius: 0px;
}
@media (max-width: 1050px) {
  .aboutItem .aboutItemImage {
    width: 30%;
  }
}
@media (max-width: 800px) {
  .aboutItem .aboutItemImage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-bottom: 3rem;
  }
}
.aboutItem .aboutItemImage img {
  width: 200px;
  height: 200px;
  padding: 0rem;
  margin: 0rem;
  border-color: #222629;
  border-style: solid;
  border-width: 5px;
  border-radius: 5rem;
}
.aboutItem .aboutItemInfo {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 0rem;
  margin: 0rem 0rem 0rem 2.5rem;
  border-color: none;
  border-style: none;
  border-width: 1px;
  border-radius: 0px;
}
@media (max-width: 1050px) {
  .aboutItem .aboutItemInfo {
    width: 70%;
  }
}
@media (max-width: 800px) {
  .aboutItem .aboutItemInfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0rem;
    margin: 0rem;
    border-color: none;
    border-style: none;
    border-width: 1px;
    border-radius: 0px;
  }
}
.aboutItem .aboutItemInfo .aboutItemSubtitle {
  font-family: "Averia Sans Libre", sans-serif;
  font-size: 4rem;
  margin-bottom: 1rem;
  margin-left: 1.5rem;
  color: #afb2b4;
}
@media (max-width: 800px) {
  .aboutItem .aboutItemInfo .aboutItemSubtitle {
    font-size: 5rem;
    margin-left: 0rem;
  }
}
.aboutItem .aboutItemInfo p {
  font-family: "Special Elite", sans-serif;
  font-size: 6rem;
  color: #EEEEEE;
}
@media (max-width: 800px) {
  .aboutItem .aboutItemInfo p {
    font-size: 6rem;
    margin-left: 0rem;
    text-align: center;
  }
}
.aboutItem .aboutItemInfo .largeLink {
  font-family: "Pontano Sans", sans-serif;
  font-size: 3rem;
  margin-left: 3rem;
}
@media (max-width: 800px) {
  .aboutItem .aboutItemInfo .largeLink {
    display: none;
  }
}
.aboutItem .aboutItemInfo .smallLink {
  display: none;
}
@media (max-width: 800px) {
  .aboutItem .aboutItemInfo .smallLink {
    display: block;
    font-family: "Pontano Sans", sans-serif;
    font-size: 3rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
}
