@font-face {
  font-family: 'Averia Sans Libre';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Averia Sans Libre Regular'), local('AveriaSansLibre-Regular'), url(https://fonts.gstatic.com/s/averiasanslibre/v8/ga6XaxZG_G5OvCf_rt7FH3B6BHLMEeVJ.ttf) format('truetype');
}
@font-face {
  font-family: 'Special Elite';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Special Elite Regular'), local('SpecialElite-Regular'), url(https://fonts.gstatic.com/s/specialelite/v10/XLYgIZbkc4JPUL5CVArUVL0nhnc.ttf) format('truetype');
}
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  margin: 0px auto;
  background-color: #222629;
  color: #6B6E70;
  width: 100%;
  max-width: 1000px;
}
a {
  text-decoration: none;
  color: #e5e5e5;
}
footer div p {
  text-align: center;
}
.fixedHeader {
  padding: 0rem;
  margin: 0rem;
  border-color: white;
  border-style: solid;
  border-width: 1px;
  border-radius: 0px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.marketingCopyL2R {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0rem;
  margin: 0rem;
  border-color: white;
  border-style: solid;
  border-width: 1px;
  border-radius: 0px;
}
.marketingCopyL2R h2 {
  color: #e5e5e5;
  padding: 0rem;
  margin: 0rem;
  border-color: white;
  border-style: solid;
  border-width: 1px;
  border-radius: 0px;
}
.marketingCopyL2R p {
  color: #d4d4d4;
  padding: 0rem;
  margin: 0rem;
  border-color: white;
  border-style: solid;
  border-width: 1px;
  border-radius: 0px;
}
.marketingCopyR2L {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0rem;
  margin: 0rem;
  border-color: white;
  border-style: solid;
  border-width: 1px;
  border-radius: 0px;
}
.marketingCopyR2L h2 {
  color: #e5e5e5;
  padding: 0rem;
  margin: 0rem;
  border-color: white;
  border-style: solid;
  border-width: 1px;
  border-radius: 0px;
}
.marketingCopyR2L p {
  color: #d4d4d4;
  padding: 0rem;
  margin: 0rem;
  border-color: white;
  border-style: solid;
  border-width: 1px;
  border-radius: 0px;
}
