* {

    box-sizing: border-box;

}

html {

    font-size: 62.5%;

}

body {

    margin: 0px auto;

    background-color: @body;
    color: @lightGray;
    width: 100%;

}

a {

    text-decoration: none;
    color: @subtitlePrimary;

}

footer {

    .boxProperties(3rem 0rem 3rem 0rem, 0rem, @mediumGray, solid none none none);
    background-color: @footerBG;

    div p {

        font-family: @footerFont;
        color: @footer;
        text-align: center;
        font-size: 2rem;

    }

}

#headerSpacing {

    .boxProperties(25rem 0rem 0rem 0rem, 0rem, none, none);

    @media @tablet {

        padding-top: 35rem;

    }

    @media @mobile {

        padding-top: 2rem;

    }

}

.fixedHeader {

    width: 100%;
    position: fixed;
    top: 0px;
    background-color: @darkGray;
    .boxProperties(3rem 0rem 3rem 0rem, 0rem, @mediumGray, none none solid none);
    .flexProperties(row);

    @media @tablet {

        padding-left: 2rem;
        padding-right: 2rem;
        .flexProperties(column);

    }

    @media @mobile {
    
        position: relative;
        padding-bottom: 0rem;

    }

    div {

        .flexProperties(row);

        #primary {

            .flexProperties(column, center, flex-end);

            h1 {
    
                font-family: @titleFont;
                color: @titlePrimary;
                font-size: 9rem;
                text-align: right;

                @media @smallDesktop {

                    font-size: 7.5rem;

                }

                @media @tablet {
    
                    font-size: 5rem;
    
                }

                @media @mobile {

                    font-size: 3.5rem;

                }
    
            }
    
            h2 {
    
                font-family: @subtitleFont;
                color: @subtitlePrimary;
                font-size: 4rem;
                text-align: right;

                @media @smallDesktop {

                    font-size: 3rem;

                }

                @media @tablet {
    
                    font-size: 2.5rem;
    
                }

                @media @mobile {

                    font-size: 2rem;

                }
    
            }
    
        }
    
        #secondary {

            .flexProperties(column, center, flex-start);
    
            padding-top: 2rem;

            @media @tablet {

                padding-top: 1.5rem;

            }

            @media @mobile {

                padding-top: 1rem;

            }
    
            h1 {
    
                font-family: @titleFont;
                color: @titleSecondary;
                font-size: 9rem;
                text-align: left;
                font-style: italic;

                @media @smallDesktop {

                    font-size: 7.5rem;

                }

                @media @tablet {
    
                    font-size: 5rem;
    
                }
                
                @media @mobile {

                    font-size: 3.5rem;

                }
    
            }
    
            h2 {
    
                font-family: @subtitleFont;
                color: @subtitleSecondary;
                font-size: 4rem;
                text-align: left;
                font-style: italic;

                @media @smallDesktop {

                    font-size: 3rem;

                }

                @media @tablet {
    
                    font-size: 2.5rem;
    
                }

                @media @mobile {

                    font-size: 2rem;

                }
                
            }

        }

        nav {

            .flexProperties(column, space-between, flex-end);
            .boxProperties(0rem, 0rem 0rem 0rem 5rem, none, none);

            font-family: @navFont;
            color: @navLinks;
            font-size: 2rem;

            .highlightColorAnimation(@navLinks, @navLinks + #444444);

            @media @tablet {

                margin-left: 0rem;
                .flexProperties(row);
                flex-wrap: wrap;
                font-size: 3.5rem;

            }

            @media @mobile {

                .flexProperties(column);
                flex-wrap: none;

            }

            a {

                .boxProperties(0rem, 0.5rem 0rem 0.5rem 0rem, none, none);

                @media @tablet {
    
                    .boxProperties(2rem 0rem 2rem 0rem, 0rem, none, none);
                    text-align: center;
                    width: 50%;

                }

                @media @mobile {

                    width: 100%;

                }

            }

        }

    }

}