.flexProperties (@flexDirection: row, 
                 @justifyContent: center, 
                 @alignItems: center) {

    display: flex;
    flex-direction: @flexDirection;
    justify-content: @justifyContent;
    align-items: @alignItems;

}

.buttonProperties() {



}

.boxProperties (@padding: 0rem, 
                @margin: 0rem, 
                @borderColor: white, 
                @borderStyle: solid, 
                @borderWidth: 1px, 
                @borderRadius: 0px) {

    padding: @padding;
    margin: @margin;
    border-color: @borderColor;
    border-style: @borderStyle;
    border-width: @borderWidth;
    border-radius: @borderRadius;

}