@mediumGreen: #61892f;
@lightGreen: #86c232;
@darkGray: #222629;
@mediumGray: #474b4f;
@lightGray: #6b6e70;

@titlePrimary: #EEEEEE;
@titleSecondary: @lightGreen;
@subtitlePrimary: @lightGray + #444444;
@subtitleSecondary: @mediumGreen;
@footer: @lightGray;
@CTAtext: @titlePrimary;
@navLinks: @lightGray + #444444;
@body: @darkGray + #111511;
@footerBG: @darkGray;

@titleFont: "Special Elite", sans-serif;
@subtitleFont: "Special Elite", sans-serif;
@pFont: "Pontano Sans", sans-serif;
@copyH2Font: "Averia Sans Libre", sans-serif;
@navFont: "Averia Sans Libre", sans-serif;
@footerFont: "Special Elite", sans-serif;
@buttonFont: "Averia Sans Libre", sans-serif;
@nameFont: "Special Elite", sans-serif;
@jobTitleFont: "Averia Sans Libre", sans-serif;

@smallDesktop: ~'(max-width: 1050px)';
@tablet: ~'(max-width: 800px)';
@mobile: ~'(max-width: 500px)';