@mediumGreen: #61892F;
@brightGreen: #86C232;
@darkGray: #222629;
@mediumGray: #474B4F;
@lightGray: #6B6E70;

@titlePrimary: white;
@titleSecondary: @titlePrimary - #111111;

@subtitlePrimary: @titlePrimary - #1A1A1A;
@subtitleSecondary: @subtitlePrimary - #111111; 